body {
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

#navbar {
  background-color: whitesmoke;
  font-size: 18px;
}

.current {
  font-weight: bold;
}


#greeting {
  font-size: 8vh;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}


#desc {
  font-size: 3vh;
  font-family: 'Raleway', sans-serif;
}

#title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#container, #footer, #txt, #exampleModal {
  font-family: 'Raleway', sans-serif;
}


/* #bg-img {
  background-image: url(images/bg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment:scroll;
  background-repeat: no-repeat;
  min-height:100vh;
} */

#front-bg {
  /* background-color: hsla(0, 0%, 0%, 0.80); */
  /* background-color: #000000; */
  min-height:100vh;
}

#pic{
  height: 30vh;
  width: 30vh;
}

#carousel, #about, #contact {
  /* background-color: #1d1d1d; */
  text-align: center;

}

.carousel, .card {
  background-color: whitesmoke;
}

#contact-row{
  background-color: whitesmoke;
}

#skills{
  background-color: whitesmoke;
}

.tools {
  width: 100px;

}

#button{
  color: white;
  background-color: #000000;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .7rem 3rem;
}

#footer{
  background-color: whitesmoke;
}
